<div class="commentboards">
  <div class="commentboard_header">
    <h2>Commentboards:</h2>
  </div>
  <div class="commentboards_list">
    <%= render "commentboards/list" %>
  </div>
  <div class='commentboards_form'>
    <%= render "commentboards/form" %>
  </div>
</div>