<% commentboard = @post.commentboards.new %>
<div id="commentboards_form_<%=@post.id%>">
<%= simple_form_for([@post, commentboard], remote: true ) do | f | %>
  <div class='form-group'>
    <%= f.input :body, label: false, placeholder: 'Add a commentboard.',  input_html: { class: 'form-control', rows: 5 } %>
  </div>
  <%= f.button :submit, class: 'btn btn-default' %>
<% end %>
</div>