<div class="">
	<div class="">
		<!--shelter_form-->
		<div class="">
			<%= render 'form' %>
		</div>
		<!--shelter_end-->
		<%= link_to 'Back', shelter_path,class:"shelter_back_btn"%>
	</div>
</div>