<div class="shelter_wrap">
	<div class="shelter_create_wrap">
		<!--shelter_form-->
		<div class="shelter_form">
			<%= render 'form' %>
		</div>
		<!--shelter_end-->
		<%= link_to 'Back', shelter_path,class:"shelter_back_btn"%>
	</div>
</div>