<!--board의 index액션에 따른 호출 view딴-->
<h2>게시판관리<small>안뇽</small></h2>
<p>이거 효성아찌가 만든거 거의 그대로 한거. 효성아찌 대회 끝나면 아이스크림 하나 사줘야겠다.</p>
<br />
<%= link_to "글작성", posts_path, class:'btn btn-default' %> <!--헬퍼매소드 link_to 사용으로 post_path를 잡아줬다. = <a class="btn btn-default" href="/posts">글작성</a> -->