/*
*home
*/
.profile {
	width: 160px;
	height: 50px;
	padding-top:0px !important;
}
.avatar{
	width: 40px;
	float: left;
	margin-right: 5px;
	margin-top:5px;
}
.avatar > img {
	width: 40px;
	height: 40px;
	border: 1px solid #F8F8F8;
}
.user-mini{
	margin-top:5px;
}
.user-mini > span.welcome {
	font-weight: bold;
	margin-top: 2px;
}
.user-mini > span {
	display: block;
	font-size: 12px;
	color: #363636;
	margin-bottom: -4px;
}


#type_btn{
    position:fixed;
    z-index:1000;
    margin-top:10px;
    margin-left:10px;
}
@media ( max-width : 767px){
	.nav_btn{
	bottom: 0;
	margin-bottom: 5px;
	}
}

.map_wrap{
    position: relative;
	width:45%;
	height:100%;
	float:left;
	overflow: hidden;
}



.list_wrap{
	width: 55%;
	height: 100%;
	overflow-y: scroll;
}
.list_bar{
	min-height:0;
}




/*
*item_info_view
*/

.commerce_nav{
	z-index:9999;
}
@media ( max-width : 767px){
	.commerce_nav{
		display:none;
	}
}

.item_top_warp{
	
}
.item_deal_info{
	
}
.deal_info_head{
	font-family: '돋움',Dotum;
	font-size:30px;
	font-weight:blod;
}
.price{
	font-family: '돋움',Dotum;
	font-size:30px;
	font-weight:blod;
	padding-bottom:20px;
}
.bc_num, .item_price{
	color:#a08;
}
.count{
	width:100%;
	padding-left:10px;
	padding-right:10px;
}
.buy_count{
	float:left;
}
.time_count{
	float:right;
}
.option_select>select{
	width:100%;
	margin-bottom:5px;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:10px;
	padding-right:10px;
	border: 1px solid rgba(66,139,202,0.7);
}
.deal_info_btn{
	padding-left:10px;
}

.item_img{
	width:100%;
}

.shelters_wrap ul li{
	list-style:none;
	font-size: 30px;
	margin: 15px;
}
.all_user_wrap ul li{
	list-style:none;
	font-size: 30px;
	margin: 15px;
}

.stat{
	color:#000;
}

.message_wrap{
	position: absolute;
	width: 100%;
	background-color: #ccc;
}


.message_wrap_left>a{
	float: left;
	position: relative;
	width: 90%;
	background-color: #eee;
}
.message_wrap_left>a:hover{
	float: left;
	position: relative;
	width: 90%;
	background-color: #aaa;
}
.message_wrap_right>a{
	text-align: center;
	position: relative;
	width: 10%;	
	background-color: #ccc;
}

.message_friends_wrap{
	list-style: none;
}
/* 
.btn_mail:hover{
	
}
.btn_mail>h2>a{
	color: #fff;
	text-align: center !important;
}
.btn_mail>h2>a:hover{
	color: #bbb;
} */

.btn_mail>ul{
	background-color:#428bca;
	position: absolute;
	width: 100%;
}
.btn_mail>ul>li{
	width: 50%;
	position: relative;
}