/*
*home
*/
.profile {
	width: 160px;
	height: 50px;
	padding-top:0px !important;
}
.avatar{
	width: 40px;
	float: left;
	margin-right: 5px;
	margin-top:5px;
}
.avatar > img {
	width: 40px;
	height: 40px;
	border: 1px solid #F8F8F8;
}
.user-mini{
	margin-top:5px;
}
.user-mini > span.welcome {
	font-weight: bold;
	margin-top: 2px;
}
.user-mini > span {
	display: block;
	font-size: 12px;
	color: #363636;
	margin-bottom: -4px;
}


#type_btn{
	position:fixed;
	z-index:1000;
	margin-top:10px;
	margin-left:10px;
}
@media ( max-width : 767px){
	.nav_btn{
		bottom: 0;
		margin-bottom: 5px;
	}
}

.map_wrap{
	position: relative;
	width:45%;
	height:100%;
	float:left;
	overflow: hidden;
}



.list_wrap{
	width: 55%;
	height: 100%;
	overflow-y: scroll;
}
.list_bar{
	min-height:0;
}




/*
*item_info_view
*/

.commerce_nav{
	z-index:9999;
}
@media ( max-width : 767px){
	.commerce_nav{
		display:none;
	}
}

.item_top_warp{
	
}
.item_deal_info{
	
}
.deal_info_head{
	font-family: '돋움',Dotum;
	font-size:30px;
	font-weight:blod;
}
.price{
	font-family: '돋움',Dotum;
	font-size:30px;
	font-weight:blod;
	padding-bottom:20px;
}
.bc_num, .item_price{
	color:#a08;
}
.count{
	width:100%;
	padding-left:10px;
	padding-right:10px;
}
.buy_count{
	float:left;
}
.time_count{
	float:right;
}
.option_select>select{
	width:100%;
	margin-bottom:5px;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:10px;
	padding-right:10px;
	border: 1px solid rgba(66,139,202,0.7);
}
.deal_info_btn{
	padding-left:10px;
}

.item_img{
	width:100%;
}

.shelters_wrap ul li{
	list-style:none;
	font-size: 30px;
	margin: 15px;
}
.all_user_wrap ul li{
	list-style:none;
	font-size: 30px;
	margin: 15px;
}

.stat{
	color:#000;
}



.btn_mail>ul{
	background-color:rgba(100,150,200,0.5);
	position: absolute;
	width: 100%;
	height: 54px;
}
.btn_mail>ul>li{
	width: 50%;
	text-align: center;
	position: relative;
	vertical-align: middle;
}
.btn_mail>ul>li>h2>strong{
	color: #fff;
}

.friend_list{
	position: relative;
	.friend_list_ul{
		position: relative;
		.friend_list_item{
			clear: both;
			height: 50px;
			.friend_list_text{
				display: inline-block;
				width: calc(100% - 100px); 
				height: 50px;
				background: transparent;
				position: absolute;
				padding: 12.5px;
				font-weight: bold;
			}
			.friend_list_del_btn{
				float: right;
				.friend_list_del_icon{
					position: absolute;
					width: 50px; height: 50px;						
					right: 0px;
					font-size: 0 !important;
					line-height: 0 !important;
					font-size: 20pt !important;
					line-height: 25px !important;
					color: #000;
					padding:12.5px;
				}
			}
		}	
	}
}

.conversation_list { 
	position: relative;
	.conversation_list_ul {
		position: relative;
		.conversation_list_item:nth-child(odd){

		}
		.conversation_list_item { 
			clear: both;
			height: 50px;
			.conversation_list_item_left{
				display: inline-block;
				li {
					a{
						float: right;
						font-size: 0 !important;
						line-height: 0 !important;
					}
					cursor: pointer;
					float: left;
					width: 50px; height: 50px;						
					text-align: center;
				}
			}
			div {
				display: inline-block;
				/* float: left; */
				width: calc(100% - 100px); 
				height: 50px;
				padding: 0; margin: 0;
				outline: 0; border: 0;
				background: transparent;
				position: absolute;
				a{
					width:calc(100% - 0px);
					position:absolute;
					top:0px;
					height:50px;
					color:#666;
					padding: 12.5px;
				}
				.index_message_info{
					float: right;
				}
			}
			ol { 
				float: right;
				li {
					a{
						position: absolute;
						width: 50px; height: 50px;						
						right: 0px;
						font-size: 0 !important;
						line-height: 0 !important;
					}
					.trash_btn{
						font-size: 20pt !important;
						line-height: 25px !important;
						color: #000;
						padding:12.5px;
					}
				}
			}
		}
	}
}

.message_list { 
	position: relative;
	.message_list_ul {
		position: relative;
		.message_list_item:nth-child(even){
			div{
			}
		}
		.message_list_item { 
			clear: both;
			ol { 
				float: left;
				li {
					a{
						cursor: pointer;
						img{
						}
					}					
				}
			}
			.message_body {
				position: relative;
				/* background: transparent; */
				.message_name{
					font-size: 10pt;
					padding-left: 5px;
					display: inline-block;
					position: relative;
					width: 10%;
				}
				.message_content{
					padding-left: 5px;
					display: inline-block;
					position: relative;
					width: 90%;
					.message_content_info{
						float: right;
					}
				}
			}
		}
	}
}

