/*
*home
*/
.profile {
	width: 160px;
	height: 50px;
	padding-top:0px !important;
}
.avatar{
	width: 40px;
	float: left;
	margin-right: 5px;
	margin-top:5px;
}
.avatar > img {
	width: 40px;
	height: 40px;
	border: 1px solid #F8F8F8;
}
.user-mini{
	margin-top:5px;
}
.user-mini > span.welcome {
	font-weight: bold;
	margin-top: 2px;
}
.user-mini > span {
	display: block;
	font-size: 12px;
	color: #363636;
	margin-bottom: -4px;
}


#type_btn{
	position:fixed;
	z-index:1000;
	margin-top:10px;
	margin-left:10px;
}
@media ( max-width : 767px){
	.nav_btn{
		bottom: 0;
		margin-bottom: 5px;
	}
}

.map_wrap{
	position: relative;
	width:45%;
	height:100%;
	float:left;
	overflow: hidden;
}



.list_wrap{
	width: 55%;
	height: 100%;
	overflow-y: scroll;
}
.list_bar{
	min-height:0;
}




/*
*item_info_view
*/

.commerce_nav{
	z-index:9999;
}
@media ( max-width : 767px){
	.commerce_nav{
		display:none;
	}
}

.item_top_warp{
	
}
.item_deal_info{
	
}
.deal_info_head{
	font-family: '돋움',Dotum;
	font-size:30px;
	font-weight:blod;
}
.price{
	font-family: '돋움',Dotum;
	font-size:30px;
	font-weight:blod;
	padding-bottom:20px;
}
.bc_num, .item_price{
	color:#a08;
}
.count{
	width:100%;
	padding-left:10px;
	padding-right:10px;
}
.buy_count{
	float:left;
}
.time_count{
	float:right;
}
.option_select>select{
	width:100%;
	margin-bottom:5px;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:10px;
	padding-right:10px;
	border: 1px solid rgba(66,139,202,0.7);
}
.deal_info_btn{
	padding-left:10px;
}

.item_img{
	width:100%;
}

.shelters_wrap ul li{
	list-style:none;
	font-size: 30px;
	margin: 15px;
}
.all_user_wrap ul li{
	list-style:none;
	font-size: 30px;
	margin: 15px;
}

.stat{
	color:#000;
}

.message_wrap{
	position: absolute;
	width: 100%;
	background-color: #ccc;
}


.message_wrap_left>a{
	float: left;
	position: relative;
	width: 90%;
	background-color: #eee;
}
.message_wrap_left>a:hover{
	float: left;
	position: relative;
	width: 90%;
	background-color: #aaa;
}
.message_wrap_right>a{
	text-align: center;
	position: relative;
	width: 10%;	
	background-color: #ccc;
}

.message_friends_wrap{
	list-style: none;
}
/* 
.btn_mail:hover{
	
}
.btn_mail>h2>a{
	color: #fff;
	text-align: center !important;
}
.btn_mail>h2>a:hover{
	color: #bbb;
	} */

	.btn_mail>ul{
		background-color:#428bca;
		position: absolute;
		width: 100%;
		height: 54px;
	}
	.btn_mail>ul>li{
		width: 50%;
		text-align: center;
		position: relative;
		vertical-align: middle;
	}
	.btn_mail>ul>li>h2>a>strong{
		color: #fff;
	}


	.conversation_list { position: relative;
		.conversation_list_ul {
			position: relative;
			.conversation_list_item:nth-child(even){
				background: rgb(238,238,238); /* Old browsers */
				background: -moz-radial-gradient(center, ellipse cover,  rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6+ */
				background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
				background: -webkit-radial-gradient(center, ellipse cover,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
				background: -o-radial-gradient(center, ellipse cover,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Opera 12+ */
				background: -ms-radial-gradient(center, ellipse cover,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* IE10+ */
				background: radial-gradient(ellipse at center,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


			}
			.conversation_list_item { 
				clear: both;
				height: 50px;
				div {
					float: left;
					width: calc(100% - 100px); height: 50px;
					padding: 0; margin: 0;
					outline: 0; border: 0;
					background: transparent;
					text-indent: 5px;
					margin-top: 3px;
					position: absolute;
				}
				ol { float: right;
					li {
						a{
							img{
								margin-top: -5px;
							}
						}
						cursor: pointer;
						float: left;
						width: 50px; height: 50px;
						font-size: 20pt;
						line-height: 50px;
						text-align: center;
						a{
							color: #000;
							margin-top: 10px;
						}
					}
				}
			}
		}
	}

	.message_list { position: relative;
		.message_list_ul {
			position: relative;
			.message_list_item:nth-child(even){
				div{
				background: rgb(250,198,149); /* Old browsers */
				background: -moz-radial-gradient(center, ellipse cover,  rgba(250,198,149,1) 0%, rgba(245,171,102,1) 47%, rgba(239,141,49,1) 100%); /* FF3.6+ */
				background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(250,198,149,1)), color-stop(47%,rgba(245,171,102,1)), color-stop(100%,rgba(239,141,49,1))); /* Chrome,Safari4+ */
				background: -webkit-radial-gradient(center, ellipse cover,  rgba(250,198,149,1) 0%,rgba(245,171,102,1) 47%,rgba(239,141,49,1) 100%); /* Chrome10+,Safari5.1+ */
				background: -o-radial-gradient(center, ellipse cover,  rgba(250,198,149,1) 0%,rgba(245,171,102,1) 47%,rgba(239,141,49,1) 100%); /* Opera 12+ */
				background: -ms-radial-gradient(center, ellipse cover,  rgba(250,198,149,1) 0%,rgba(245,171,102,1) 47%,rgba(239,141,49,1) 100%); /* IE10+ */
				background: radial-gradient(ellipse at center,  rgba(250,198,149,1) 0%,rgba(245,171,102,1) 47%,rgba(239,141,49,1) 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fac695', endColorstr='#ef8d31',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
				}
			}
			.message_list_item { 
				clear: both;
				div {
					float: right;
					width: calc(100% - 50px);
					padding: 0; margin: 0;
					outline: 0; border: 0;
					background: transparent;
					text-indent: 5px;
					margin-top: 3px;
				}
				ol { float: left;
					li {
						a{
							img{
								margin-top: -5px;
							}
						}
						cursor: pointer;
						float: left;
						width: 50px; height: 50px;
						font-size: 20pt;
						line-height: 50px;
						text-align: center;
						a{
							color: #000;
							margin-top: 10px;
						}
					}
				}
			}
		}
	}