<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>새로운 답장</h1>

    <p>

      <%=gravatar_for(@message.sender) %>
      <%=@message.sender.name %> 님으로 부터 답장이 왔습니다
    </p>
    <blockquote>
      <p>
        <%= raw @message.body %>
      </p>
    </blockquote>
    <p>
     <%= link_to("확인하러가기", conversations_url ) %> 
    </p>
  </body>
</html>
