.shelter_wrap{
    position: fixed;
    width: 100%;
    height: 100%;
    background: url('shelter/shelter_create_background.jpg') ;
    text-align:center; 
    overflow: auto;
    
}
.shelter_create_wrap{
    color: #fff;
   display:inline-block;
   margin-top: 80px;
}
.shelter_form{
    width: 900px;
}
.shelter_reg_btn{
    margin-top:10px; 
}
.shelter_left_form label{
   color: #fff;
   font-size: 28px;
}
.shelter_right_form{
    padding-left: 5px !important;
}
.shelter_back_btn{
    margin-top:20px; 
    color: #ddd;
    font-size: 20px;
}
.house_wrap{
   background: url('shelter/shelter_background.jpg') ;
   width: 100%;
   height: 620px;
   position: absolute;
}
.house_head{
position: relative;
}
.shelter_status{
    float: right;
}
.labels div a{
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}
.labels div {
    background-color: rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
    height: 50px;
    padding: 30px 0 0;
    position: absolute !important;
    text-align: center;
    text-decoration: none;
    width: 80px;

    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    -webkit-border-radius: 40px;
    border-radius: 40px;
}
.labels div>a{
    color: #fff;
}

.labels div:hover {
    background-color: rgba(128, 128, 128, 0.8);
}
.labels div>a:hover {
    color: #000;
}
.labels div span {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 15px solid rgba(203, 189, 58, 0.8);
    bottom: -14px;
    height: 0;
    left: 30px;
    position: absolute;
    width: 0;

    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    -webkit-transition: .3s;
    transition: .3s;
}
.labels div:hover span {
    border-top: 15px solid rgba(128, 128, 128, 0.8);
}
#label1 {
    left: 720px;
    top: 215px;
}
#label2 {
    left: 495px;
    top: 290px;
}
#label3 {
    left: 450px;
    top: 115px;
}
#label4 {
    left: 270px;
    top: 170px;
}
#label5 {
    left: 570px;
    top: 65px;
}
#label6 {
    left: 275px;
    top: 30px;
}