<!-- all_user list 김수겸 14.09.19 -->
<div class="content_re">
  <div class="row">
    <!-- all_user side 김수겸 14.09.19 -->
    <div class="col-lg-2">
      <div class="left_wrap">
        <!--profile 김수겸 14.09.18-->
      <%= render 'users/profile'%>
        <!--profile end-->        
      </div>
    </div>
    <!-- all_user side end -->

    <!--all_user_list_wrap 김수겸 14.09.19-->
    <div class="col-lg-10">
      <div class="right_wrap">
        <div class="row">
          <div class="col-lg-12">
          	<div class="all_user_wrap">
		         <% provide(:title, 'All users') %>
				<%= will_paginate %>
				<h1>모든유저보기</h1>
				<ul>
				 <%= render @users %>
				</ul>
				<%= will_paginate %>
			</div>
          </div>
        </div>
      </div>
    </div>
    <!--all_user_wrap end-->
  </div>
</div>
<!-- all_user list end -->
  
   
      
     



