<div class="container">
	<h1 style="margin-top:20px;">구매정보입력</h1>
	<div class="col-lg-8 col-lg-offset-2 text-center">
		<%#if(@ordertype == 'goods')  %>
		<%= render 'form' %>
		<%#end %>
	</div>
</div>

