<div class="container">
	<div class="col-lg-8 col-lg-offset-2 text-center" style="margin-top:70px;">
		<div class="logo"><h1>주문이 완료되었습니다.</h1></div>
		<p class="lead text-muted">배송 정보</p>
		<div>
			<span>입금 은행 :</span>
			<span>국민은행</span>
		</div>
		<div>
			<span>예금주 :</span>
			<span>**sentar**</span>
		</div>
		<div>
			<span>금액 :</span>
			<span><%= @total%> 원</span>
		</div>
		<div>
			<span>입금 계좌 :</span>
			<span>123xxx-xx-xxxxxxx</span>
		</div>		
		<div>
			<%=link_to "구매목록으로 이동", buy_list_path,class:'btn btn-success',style:"margin-top:70px;"%>
		</div>
	</div>
</div>

