

<table  class="table_border">
	<tr>
		<td>주문이 완료되었습니다.</td>
	</tr>
	<tr>
		<td>
			<table class="table_border_sub">
				<tr>
					<td colspan="2" class="div_pop_title"><h1>배송 정보</h1></td>
				</tr>
				<tr>
					<td>입금 은행</td>
					<td>국민은행</td>
				</tr>
				<tr>
					<td>예금주</td>
					<td>**sentar**</td>
				</tr>

				<tr>
					<td>금액</td>

					<td><%= @total%> 원</td>
				</tr>

				<tr>
					<td>입금 계좌</td>
					<td>123xxx-xx-xxxxxxx</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
