<%= link_to gravatar_for(current_user), current_user %>
<h1><%= current_user.name %></h1>
<span><%= link_to "내집가기", shelter_path %></span>
<span><%= pluralize(current_user.microposts.count, "micropost") %></span>
