<%= render 'snb_category'%>
<div id="content">
	<!--buy main view 김수겸 14.09.22-->
	<div class="well buy_wrap">
		<a href="buy_and_sell.do?method=buy_list">buy main</a>
		<div>
			<span>입금전 : </span>
			<span><strong>0</strong>건</span>
		</div>
		<div>
			<span>배송준비중 : </span>
			<span><strong>0</strong>건</span>
		</div>
		<div>
			<span>배송중 : </span>
			<span><strong>0</strong>건</span>
		</div>
		<div>
			<span>배송완료 : </span>
			<span><strong>0</strong>건</span>
		</div>
		<div>
			<span>
				<span>구매목록 : </span>
				<span><strong>0</strong>건</span>
			</span> &nbsp;
			<span>
				<span>장바구니 : </span>
				<span><strong>0</strong>건</span>
			</span>
		</div>
	</div>
	<!--buy main view end-->

	<!--sell main view 김수겸 14.09.22-->
	<div class="well sell_wrap">
		<a href="buy_and_sell.do?method=sell_main">sell main</a>
		<!--발송전 김수겸 14.09.22-->
		<div>
			<h3>발송전</h3>
			<div>
				<span>신규주문 : </span>
				<span><strong>0</strong>건</span>
			</div>
			<div>
				<span>
					<i class="fa fa-arrow-down"></i>확인해야 발송대상으로 옮겨짐
				</span>
			</div>
			<div>
				<span>
					<span>발송대상 : </span>
					<span><strong>0</strong>건</span>
				</span> &nbsp;
				<span>
					<span>배송지연 : </span>
					<span><strong>0</strong>건</span>
				</span>
			</div>
			<div>
				<span>취소요청 : </span>
				<span><strong>0</strong>건</span>
			</div>
		</div>
		<!--발송전 end-->

		<!--발송후 김수겸 14.09.22-->
		<div>
			<h3>발송후</h3>
			<div>
				<span>
					<span>배송중 : </span>
					<span><strong>0</strong>건</span>
				</span> &nbsp;
				<span>
					<span>미수령신고 : </span>
					<span><strong>0</strong>건</span>
				</span>
			</div>
			<div>
				<i class="fa fa-arrow-down"></i>
			</div>
			<div>
				<span>
					<span>배송완료 : </span>
					<span><strong>0</strong>건</span>
				</span> &nbsp;
				<span>
					<span>반품요청 : </span>
					<span><strong>0</strong>건</span>
				</span> &nbsp;
				<span>
					<span>교환요청 : </span>
					<span><strong>0</strong>건</span>
				</span>
			</div>
			<div>
				<i class="fa fa-arrow-down"></i>
			</div>
			<div>
				<span>
					<span>구매결정완료 : </span>
					<span><strong>0</strong>건</span>
					<span>정산하세요</span>
				</span> 
			</div>
		</div>
		<!--발송후 end-->
	</div>
	<!--sell main view end-->
</div>