<!--main wrap 김수겸 14.09.11-->
<div class="content_ab">
	<!-- tmap div 김수겸 14.09.11-->
	<div id="map_div" class="map_wrap">
		<!-- 전체,커머스,블로그 버튼 김수겸 14.09.11 -->
		<div class="nav_btn" id="type_btn">
			<div class="btn-group">
				<!-- <a type="button" class="btn btn-default"
				onclick="view_all();return false;">전체</a>
				<a type="button" class="btn btn-default"
				onclick="view_commerce();return false;">커머스</a>
				<a type="button" class="btn btn-default"
				onclick="view_blog();return false;">블로그</a> -->
				<a class="btn btn-default"href="#commerce_wrap" data-toggle="tab">커머스</a>
				<a class="btn btn-default"href="#blog_wrap" data-toggle="tab">블로그</a>
			</div>
		</div>		
		<!-- 잔체,커머스,블로그 버튼 end -->

		

		<!--<button id="fold_list"class="btn btn-info fold_btn" style="display:block;">지도확대</button>
		<script type="text/javascript">
		$(function() {
		var state = true;
		var map_width;
		$( "#fold_list" ).click(function() {
		if ( state ) {
		$("#list_wrap").hide( "slide", { direction: "right" }, 200 );
		map_width=setTimeout("$('#map_div').css( 'width', '100%' )", 200);
		} else {
		$('#map_div').css( 'width', '45%' )
		$("#list_wrap").show( "slide", { direction: "right" }, 200 );

		}
		state = !state;
		});
		});
		</script>-->
	</div>
	<!--tmap div 김수겸 end-->

	<!--list_wrap 김수겸 14.09.11-->
	<div class="list_wrap content">
		<div class="tab-content" style="padding:0 !important;">
		<!--커머스-->
		<%= render 'commerce_wrap'%>
		<!--커머스 end-->

		<!--블로그-->
		<div id = "blog_wrap">
		<%= render 'blog_wrap'%>
		<!--블로그 end-->
	     </div>
		</div>
	</div>
	<!--list_wrap end-->
	
</div>
<!--main wrap end-->	
