<div class="content_ab">	
	<div class="row">
		<!--profile_wrap 김수겸 19.09.21-->
		<div class="col-lg-2">
			<%= render 'profile'%>
		</div>
		<!--profile_wrap end-->

		<!--myhouse_wrap 김수겸 19.09.21-->
		<div class="col-lg-9">
			<div class="house_wrap">
				<%= image_tag "123.jpg", size: "960x640" %>
			</div>
			<div class="labels">
				<div id="label1" class="label" href="#">내블로그
					<span />
				</div>
				<div id="label2" class="label">내커머스
					<span />
				</div>
				<div id="label3" class="label" href="#">통합게시판
					<span />
				</div>
				<div id="label4" class="label" href="#">호핀
					<span />
				</div>
				<div id="label5" class="label" href="#">멜론
					<span />
				</div>
				<div id="label6" class="label" href="#">Safe Room
					<span />
			</div>
		</div>			
		</div>
		<!--myhouse_wrap end-->
		<script type="text/javascript">
		
		</script>		
	</div>
</div>