<%= render 'snb_category'%>
<div id="content">
	<div class="inner" style="min-height: 700px;">
		<div class="row">
			<div class="col-lg-12">
				<h1>판매진행 현황</h1>
			</div>
		</div>
		<hr />
		<!--BLOCK SECTION -->
		<div class="row">
			<div class="col-lg-12">
				<div class="order_status">
					<div class="before">
						<h3>발송전</h3>
						<div>
							<a class="quick-btn" href="#"> <i class="icon-check icon-2x"></i> <span> 신규주문</span> <span class="label label-danger">2</span> </a><a class="quick-btn" href="#"> <i
							class="icon-check icon-2x"></i> <span> 발송대상</span> <span
							class="label label-danger">2</span> </a><a class="quick-btn" href="#"> <i
							class="icon-envelope icon-2x"></i> <span>배송지연</span> <span
							class="label label-success">456</span> </a><a class="quick-btn" href="#"> <i
							class="icon-signal icon-2x"></i> <span>취소요청</span> <span
							class="label label-warning">+25</span> </a>
						</div>
					</div>
					<div class="div_line"></div>
					<div class="after">
						<h3>발송후</h3>
						<div>
							 <a class="quick-btn" href="#">
							 <i class="icon-external-link icon-2x"></i> 
							 <span>배송중</span> 
							 <span class="label btn-metis-2">2</span> </a><a class="quick-btn" href="#"> 
							 <i class="icon-lemon icon-2x"></i> 
							 <span>미수령신고</span> 
							 <span class="label btn-metis-4">107</span>
							 </a>
							 <a class="quick-btn" href="#"> <i class="icon-bolt icon-2x"></i>
							 <span>배송완료</span>
							 <span class="label label-default">20</span>
							  </a>
							 <a class="quick-btn" href="#"> 
							 <i class="icon-check icon-2x"></i>
							 <span> 반품요청</span>
							 <span class="label label-danger">2</span>
							 </a>
							 <a class="quick-btn" href="#"> <i	class="icon-check icon-2x"></i>
							 <span> 교환요청</span> 
							 <span class="label label-danger">2</span>
							 </a>
							 <a class="quick-btn" href="#"> <i class="icon-check icon-2x"></i>
							 <span> 구매결정완료</span> 
							 <span class="label label-danger">2</span> 
							 </a>							 
						</div>
					</div>
				</div>

			</div>

		</div>
		<!--END BLOCK SECTION -->
		<hr />

		<!-- COMMENT AND NOTIFICATION  SECTION -->
		<!-- <div class="row">			
			<div class="col-lg-5">
				<div class="panel panel-danger">
					<div class="panel-heading">
						<i class="icon-bell"></i> 내 판매 현황
					</div>
		
					<div class="panel-body">
						<div>
							<span>
								재고 10개 이하 : <strong>0</strong>건
							</span>
						</div>
						<div>
							<span>
								판매된 목록 : <strong>0</strong>건
							</span>
						</div>
					</div>
		
				</div>
		
			</div>
		</div> -->
		<!-- END COMMENT AND NOTIFICATION  SECTION -->

	</div>

</div>
<!--END PAGE CONTENT -->