<%= render 'snb_category'%>
<div id="content">
	<div class="inner">
		<div class="row">
			<div class="col-lg-12">
				<form class="form-horizontal">
					<fieldset>
						<legend>
							상품등록
						</legend>

						<!-- 카테고리 -->
						<div class="form-group">
							<label for="category" class="col-md-2 control-label">카테고리</label>
							<div class="col-md-3">
								<select class="form-control" id="category">
									<option>대분류</option>
									<option>2</option>
									<option>3</option>
									<option>4</option>
									<option>5</option>
								</select>
							</div>

							<div class="col-md-3">
								<select class="form-control" id="category">
									<option>중분류</option>
									<option>2</option>
									<option>3</option>
									<option>4</option>
									<option>5</option>
								</select>
							</div>

							<div class="col-md-3">
								<select class="form-control" id="category">
									<option>소분류</option>
									<option>2</option>
									<option>3</option>
									<option>4</option>
									<option>5</option>
								</select>
							</div>
						</div>
						<!-- 카테고리 end -->

						<!-- 판매기간 -->
						<div class="form-group">
							<label for="sell_term" class="col-md-2  control-label">판매기간
								선택</label>
							<div class="col-md-2">
								<select class="form-control" id="sell_term">
									<option>10일</option>
									<option>15일</option>
									<option>30일</option>
								</select>
							</div>
						</div>
						<!-- 판매기간 end -->

						<!-- 판매유형
						<div class="form-group">
						<label for="sell_type" class="col-md-2  control-label">판매유형</label>
						<div class="col-md-3">
						<select class="form-control" id="sell_type">
						<option>247가</option>
						<option>온라인판매가</option>
						<option>메뉴판매가</option>
						</select>
						</div>

						<label for="prime_cost" class="col-md-2  control-label">원가입력</label>
						<div class="col-md-4">
						<input type="text" class="form-control" id="prime_cost"
						placeholder="원가입력">
						</div>
						<div class="col-md-1">
						<b>원</b>
						</div>
						</div>
						판매유형 end -->

						<div class="div_line"></div>

						<div class="form-group">
							<div class="col-md-2 control-label">
								<span>상품 등록 tip!!!</span>
							</div>
						</div>

						<!-- 판매옵션
						<div class="form-group">
						<label class="col-md-2 control-label">판매옵션개수</label>
						<div class="btn-group col-md-4">
						   <a type="button" class="btn btn-default" id="one_option_btn"
						onclick="one_option_btn();return false;">옵션한개</a>    <a
						type="button" class="btn btn-default" id="two_option_btn"
						onclick="two_option_btn();return false;">옵션두개</a>
						</div>
						</div>
						판매옵션 end -->

						<!-- 판매옵션JS
						<script type="text/javascript">
						function one_option_btn() {
						$(this).click(function() {
						$("#one_option").show();
						$("#two_option").hide();
						$("#add_option_form").hide();
						$("#hidden_two_option_merchandise_no").val(0);
						});
						}
						function two_option_btn() {
						$(this).click(function() {
						$("#one_option").hide();
						$("#two_option").show();
						$("#hidden_one_option_merchandise_no").val(0);
						});
						}
						</script>
						판매옵션JS끝 -->

						<!-- 옵션한개 -->
						<div id="one_option">
							<div class="form-group">
								<label for="product_name" class="col-md-2 control-label">상품명</label>
								<div class="col-md-3">
									<input type="text" class="form-control" id="product_name"
									name="one_option_product_name" placeholder="상품명">
								</div>

								<div class="col-md-3">
									<a onclick="check();" style="cursor: pointer;"><span>유효성검사</span> </a>
								</div>
							</div>

							<div class="form-group">
								<label for="sell_price" class="col-md-2  control-label">판매가격</label>
								<div class="col-md-3">
									<input type="text" class="form-control" id="sell_price"
									name="one_option_sell_price" placeholder="가격입력하셈">
								</div>
								<div class="col-md-1">
									<b>원</b>
								</div>
							</div>

							<div class="form-group">
								<label for="sell_quantity" class="col-md-2  control-label">판매수량</label>
								<div class="col-md-3">
									<input type="text" class="form-control" id="sell_quantity"
									name="one_option_sell_quantity" placeholder="수량입력하셈">
								</div>
								<div class="col-md-1">
									<b>개</b>
								</div>
							</div>

							<!-- <div class="form-group">
							<label class="col-md-2  control-label">상품추가/삭제</label>
							<div class="col-md-8">
							<a class="btn btn-primary btn-lg"
							onclick="add_merchandise_one();return false;"
							style="cursor: pointer;">추가</a> <a
							class="btn btn-primary btn-lg"
							onclick="delete_mercahndise();return false;"
							style="cursor: pointer;">상품전체삭제</a>
							</div>
							</div>

							<div class="form-group">
							<div class="col-md-5 col-md-offset-4 well">
							<table class="table table-hover" id="add_merchandise_list_one">
							<thead>
							<tr>
							<th>옵션명</th>
							<th>가격</th>
							<th>개수</th>
							<th>변경/삭제</th>
							</tr>
							</thead>
							<tbody>
							</tbody>
							</table>
							</div>
							</div> -->
						</div>

						<!-- <input type="hidden" name="hidden_one_option_merchandise_no"
						id="hidden_one_option_merchandise_no" value="0"> -->
						<!-- 옵션한개 end -->

						<!-- 옵션한개 상품추가 JS
						<script type="text/javascript">
						var rowno = 0;
						function add_merchandise_one() {
						var product_name = $(
						'input:text[name="one_option_product_name"]')
						.val();
						var sell_price = parseInt($(
						'input:text[name="one_option_sell_price"]')
						.val());
						var sell_quantity = parseInt($(
						'input:text[name="one_option_sell_quantity"]')
						.val());
						var addHtml = "";
						var rowno = parseInt($(
						"#hidden_one_option_merchandise_no").val());

						if (rowno < 50) {
						rowno++;

						addHtml = addHtml + "<tr class='one_tr'>";
						addHtml = addHtml
						+ "<td>"
						+ product_name
						+ "<input type='hidden' id='one_option_product_name' name='one_option_product_name' value='"
						+ product_name + "'><input type='hidden' id='one_option_product_no' name='one_option_product_no' value='"
						+ rowno + "'></td>";
						addHtml = addHtml
						+ "<td>"
						+ sell_price
						+ "<input type='hidden' id='one_option_sell_price' name='one_option_sell_price' value='"
						+ sell_price + "'></td>";
						addHtml = addHtml
						+ "<td>"
						+ sell_quantity
						+ "<input type='hidden' id='one_option_sell_quantity' name='one_option_sell_quantity' value='"
						+ sell_quantity + "'></td>";
						addHtml = addHtml
						+ "<td><a onclick='merchandise_mod_del();return false;' class='btn btn-primary'id='id_merchandise"
						+ rowno + "'>클릭</a></td>";
						addHtml = addHtml + "</tr>";
						$("#hidden_one_option_merchandise_no").val(rowno);
						$("#add_merchandise_list_one tbody")
						.append(addHtml);
						}
						return;
						}
						</script>
						옵션한개 상품추가 JS end -->

						<!-- 옵션두개
						<div id="two_option" style="display: none;">
						<div class="form-group">
						<label class="col-md-2 control-label">옵션메뉴선택</label>

						<div class="col-md-4 btn-group" id="" data-toggle="buttons">
						<label class="btn btn-default blue"> <input
						type="checkbox" class="toggle" id="sp_btn">판매가격
						</label> <label class="btn btn-default blue"> <input
						type="checkbox" class="toggle" id="sq_btn"> 판매수량
						</label>
						</div>
						</div>

						옵션 메뉴 JS
						<script type="text/javascript">
						$("input").change(function() {
						var sp_check = $("#sp_btn").is(":checked");
						if (sp_check == true) {
						$("#add_sp").show();
						$("#sell_price_form").show();

						} else {
						$("#add_sp").hide();
						$("#sell_price_form").hide();
						}
						var sq_check = $("#sq_btn").is(":checked");
						if (sq_check == true) {
						$("#add_sq").show();
						$("#sell_quantity_form").show();

						} else {
						$("#add_sq").hide();
						$("#sell_quantity_form").hide();
						}

						}).change();
						</script>
						옵션 메뉴 JS end

						<div class="form-group">
						<label for="product_name" class="col-md-2 control-label">상품명</label>
						<div class="col-md-8">
						<input type="text" class="form-control" id="product_name"
						name="two_option_product_name" placeholder="상품명">
						</div>
						<div class="col-md-2">
						<a onclick="check();" style="cursor: pointer;"><span>유효성검사</span>
						</a>
						</div>
						</div>

						<div class="form-group" id="sell_price_form" style="display: none;">
						<label for="sell_price" class="col-md-2  control-label">판매가격</label>
						<div class="col-md-3">
						<input type="text" class="form-control" id="sell_price"
						name="two_option_sell_price" placeholder="가격입력하셈">
						</div>
						<div class="col-md-1">
						<b>원</b>
						</div>
						</div>

						<div class="form-group" id="sell_quantity_form"
						style="display: none;">
						<label for="sell_quantity" class="col-md-2  control-label">판매수량</label>
						<div class="col-md-2">
						<input type="text" class="form-control" id="sell_quantity"
						name="two_option_sell_quantity" placeholder="수량입력하셈">
						</div>
						<div class="col-md-1">
						<b>개</b>
						</div>
						</div>

						<div class="form-group">
						<label class="col-md-2  control-label">상품추가/삭제</label>
						<div class="col-md-8">
						<a class="btn btn-primary btn-lg"
						onclick="add_merchandise_two();return false;"
						style="cursor: pointer;">추가</a> <a
						class="btn btn-primary btn-lg"
						onclick="delete_mercahndise();return false;"
						style="cursor: pointer;">상품전체삭제</a>
						</div>
						</div>

						<div class="form-group">
						<div class="col-md-5 col-md-offset-2 well">
						<table class="table table-hover" id="add_merchandise_list_two">
						<thead>
						<tr id="add_th">
						<th id="add_after">상품명</th>
						<th id="add_sp" style="display: none;">가격</th>
						<th id="add_sq" style="display: none;">수량</th>
						<th id="add_before">변경/삭제</th>
						</tr>
						</thead>
						<tbody>
						</tbody>
						</table>
						</div>

						<div class="col-md-5 well">
						<table class="table table-hover" id="add_option_list">
						<thead>
						<tr>
						<th>추가옵션</th>
						<th id="add_sp1" style="display: none;">가격</th>
						<th id="add_sq1" style="display: none;">수량</th>
						<th>삭제</th>
						</tr>
						</thead>
						<tbody>
						</tbody>
						</table>
						</div>
						</div>
						</div>

						<input type="hidden" name="hidden_two_option_merchandise_no"
						id="hidden_two_option_merchandise_no" value="0">
						옵션두개end

						옵션두개 상품추가 JS
						<script type="text/javascript">
						var rowno = 0;
						function add_merchandise_two() {
						var product_name = $(
						'input:text[name="two_option_product_name"]')
						.val();
						var sell_price = parseInt($(
						'input:text[name="two_option_sell_price"]')
						.val());
						var sell_quantity = parseInt($(
						'input:text[name="two_option_sell_quantity"]')
						.val());
						var sp_check = $("#sp_btn").is(":checked");
						var sq_check = $("#sq_btn").is(":checked");
						var addHtml = "";
						var rowno = parseInt($(
						"#hidden_two_option_merchandise_no").val());

						if (rowno < 50) {
						rowno++;

						addHtml = addHtml + "<tr class='two_tr'>";
						addHtml = addHtml
						+ "<td>"
						+ product_name
						+ "<input type='hidden' id='two_option_product_name' name='two_option_product_name' value='"+product_name+"'><input type='hidden' id='two_option_product_no' name='two_option_product_no' value='"+rowno+"'></td>";

						if (sp_check == true) {
						addHtml = addHtml
						+ "<td>"
						+ sell_price
						+ "<input type='hidden' id='two_option_sell_price' name='two_option_sell_price'value='"+sell_price+"'></td>";
						} else if (sq_check == true) {
						addHtml = addHtml
						+ "<td>"
						+ sell_quantity
						+ "<input type='hidden' id='two_option_sell_quantity' name='two_option_sell_quantity' value='"
						+ sell_quantity + "'></td>";
						}
						addHtml = addHtml
						+ "<td><a onclick='add_option_form();return false;' class='btn btn-primary'id='id_merchandise"
						+ rowno + "'>클릭</a></td>";
						addHtml = addHtml + "</tr>";
						$("#hidden_two_option_merchandise_no").val(rowno);
						$("#add_merchandise_list_two tbody")
						.append(addHtml);
						}
						return;
						}
						</script>
						옵션두개JS 상품추가 end

						추가옵션 폼 JS
						<script type="text/javascript">
						function add_option_form() {
						$(this).click(function() {
						$("#add_option_form").show();
						});
						}

						function close_option_form() {
						$(this).click(function() {
						$("#add_option_form").hide();
						});
						}
						</script>
						추가옵션 폼 JS end

						추가옵션 폼 시작
						<div id="add_option_form" style="display: none;">
						<div class="form-group">
						<label class="col-md-2 control-label">옵션메뉴선택</label>

						<div class="col-md-4 btn-group" id="" data-toggle="buttons">
						<label class="btn btn-default blue"> <input
						type="checkbox" class="toggle" id="sp_btn1">판매가격
						</label> <label class="btn btn-default blue"> <input
						type="checkbox" class="toggle" id="sq_btn1"> 판매수량
						</label>
						</div>
						</div>

						추가옵션 메뉴 JS
						<script type="text/javascript">
						$("input").change(function() {
						var sp_check = $("#sp_btn1").is(":checked");
						if (sp_check == true) {
						$("#add_sp1").show();
						$("#sell_price_form1").show();

						} else {
						$("#add_sp1").hide();
						$("#sell_price_form1").hide();
						}
						var sq_check = $("#sq_btn1").is(":checked");
						if (sq_check == true) {
						$("#add_sq1").show();
						$("#sell_quantity_form1").show();

						} else {
						$("#add_sq1").hide();
						$("#sell_quantity_form1").hide();
						}

						}).change();
						</script>
						추가옵션 메뉴 JS end

						<div class="form-group">
						<label for="add_option_name" class="col-md-2 control-label">추가옵션명</label>
						<div class="col-md-8">
						<input type="text" class="form-control" id="addition_option_name"
						name="two_option_add_option_name" placeholder="추가옵션명">
						</div>
						</div>

						<div class="form-group" id="sell_price_form1"
						style="display: none;">
						<label for="sell_price1" class="col-md-2  control-label">판매가격</label>
						<div class="col-md-3">
						<input type="text" class="form-control" id="sell_price"
						name="two_option_add_sell_price" placeholder="가격입력하셈">
						</div>
						<div class="col-md-1">
						<b>원</b>
						</div>
						</div>

						<div class="form-group" id="sell_quantity_form1"
						style="display: none;">
						<div class="form-group">
						<label for="sell_quantity1" class="col-md-2  control-label">판매수량</label>
						<div class="col-md-2">
						<input type="text" class="form-control" id="sell_quantity"
						name="two_option_add_sell_quantity" placeholder="수량입력하셈">
						</div>
						<div class="col-md-1">
						<b>개</b>
						</div>
						</div>
						</div>

						<div class="form-group">
						<label class="col-md-2  control-label">옵션 추가/삭제</label>
						<div class="col-md-6 col-md-offset-2">
						<a class="btn btn-primary btn-lg"
						onclick="add_option();return false;" style="cursor: pointer;">추가</a>
						<a class="btn btn-primary btn-lg"
						onclick="delete_add_option();return false;"
						style="cursor: pointer;">추가옵션 전체삭제</a> <a
						class="btn btn-primary btn-lg"
						onclick="close_option_form();return false;"
						style="cursor: pointer;">취소</a>
						</div>
						</div>

						<input type="hidden" name="hidden_add_option_no"
						id="hidden_add_option_no" value="0">
						</div>
						추가옵션 폼 end

						추가옵션 상품추가 JS
						<script type="text/javascript">
						var rowno = 0;
						function add_option() {
						var add_option_name = $(
						'input:text[name="two_option_add_option_name"]')
						.val();
						var sell_price = parseInt($(
						'input:text[name="two_option_add_sell_price"]')
						.val());
						var sell_quantity = parseInt($(
						'input:text[name="two_option_add_sell_quantity"]')
						.val());
						var sp_check1 = $("#sp_btn1").is(":checked");
						var sq_check1 = $("#sq_btn1").is(":checked");
						var addHtml = "";
						var rowno = parseInt($("#hidden_add_option_no").val());

						if (rowno < 50) {
						rowno++;

						addHtml = addHtml + "<tr>";
						addHtml = addHtml
						+ "<td>"
						+ add_option_name
						+ "<input type='hidden' id='two_option_addition_option_name' name='two_option_addition_option_name' value='"+add_option_name+"'><input type='hidden' id='two_option_addition_option_no' name='two_option_addition_option_no' value='"+rowno+"'></td>";
						if (sp_check1 == true) {
						addHtml = addHtml
						+ "<td>"
						+ sell_price
						+ "<input type='hidden' id='two_option_addition_sell_price' name='two_option_addition_sell_price' value='"+sell_price+"'></td>";
						} else if (sq_check1 == true) {
						addHtml = addHtml
						+ "<td>"
						+ sell_quantity
						+ "<input type='hidden' id='two_option_addition_sell_quantity' name='two_option_addition_sell_quantity' value='"+sell_quantity+"'></td>";
						}
						addHtml = addHtml
						+ "<td><a onclick='delete_option();return false;' class='btn btn-primary'id='id_option"
						+ rowno + "'>삭제</a></td>";
						addHtml = addHtml + "</tr>";
						$("#hidden_add_option_no").val(rowno);
						$("#add_option_list tbody").append(addHtml);
						}
						return false;
						}
						</script>
						추가옵션 상품추가 JS end

						상품이미지
						<div class="form-group">
						<label class="col-md-2  control-label">상품이미지</label>
						<div class="col-md-10">
						<div class="row">
						<div class="col-sm-6 col-md-3">
						<p>
						<span><strong>기본</strong> 이미지</span> <span
						style="float: right;"><strong>필수</strong> </span>
						</p>
						<div class="img_box">
						등록전
						<span> <br> <br> <span>size</span><br> <br>
						<span>등록</span>
						</span> <input type="file" onchange="previewImage(this,'previewId1')">
						등록전 end
						<div id='previewId1' class="thumbnail"></div>
						</div>
						</div>
						</div>
						</div>
						</div>
						상품이미지 end

						상품이미지 추가 JS
						<script type="text/javascript">

						</script>
						상품이미지 추가 JS end -->

						<!-- 상품상세정보입력 -->
						<div class="form-group">
							<label class="col-md-2  control-label">상품상세정보</label>
							<div class="col-md-10">
								<div>
									<textarea id="merchandise_info" name="merchandise_info"
								class="form-control" rows="10" style="width:700px;"></textarea>
								</div>
							</div>
						</div>
						<!-- 상품상세정보입력 end -->

						<!-- 배송정보입력 -->
						<div class="form-group">
							<label class="col-md-2  control-label">배송정보</label>
							<div class="col-md-10">
								<div class="btn-group col-md-4">
									  
									<div class="btn-group" data-toggle="buttons">
										<label class="btn btn-default active">
											<input
											type="radio">
											택배배송 </label><label class="btn btn-default">
											<input type="radio">
											쿠폰판매 </label>

									</div>
								</div>
							</div>
						</div>

						<div class="form-group">							
							<div class="parcel_select">									
								<label class="col-md-2  control-label">택배사선택</label>
								<div class="col-md-6">
									<select class="form-control" id="category">
										<option>택배사선택</option>
										<option>우체국택배</option>
										<option>한진택배</option>
										<option>대한통운</option>
										<option>현대택배</option>
										<option>로젠택배</option>
										<option>KGB택배</option>
										<option>동부익스프레스</option>
										<option>CJ택배</option>
										<option>자체배송</option>
									</select>
								</div>								
							</div>

								<!-- <div class="form-group">
									<label class="col-md-2  control-label">배송지선택</label>
									<div class="col-md-6">
										<select class="form-control" id="category">
											<option>선택하세요</option>
											<option>기본출하지</option>
										</select>
									</div>
								</div>
								
								<div class="form-group">
									<div class="col-md-10 col-md-offset-2">
										<ul>
											<li>
												선택된 주소 :
											</li>
											<li>
												추가배송비 설정 : 군부대
												<input type="text" readonly="readonly"
												placeholder="0" style="width: 100px;" />
												원 제주도 및 산간지방
												<input
												type="text" readonly="readonly" placeholder="0"
												style="width: 100px;" />
												원
											</li>
										</ul>
									</div>
								</div>
								
								<div class="form-group">
									<label class="col-md-2  control-label">반품정보설정</label>
									<div class="col-md-10"></div>
								</div> -->
							
						</div>
						<!-- 배송정보입력 end -->

						<!-- 배송정보입력 JS-->
						<script type="text/javascript">

						</script>
						<!--배송정보입력 JS end -->

						<!--상품이미지-->
						<div class="form-group">

		                        <label class="control-label col-lg-2">이미지 등록</label>
		                        <div class="col-lg-3">
		                            <div class="fileupload fileupload-new" data-provides="fileupload"><input type="hidden" value="" name="">
		                                <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;">이미지 등록허셈</div>
		                                <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 10px;"></div>
		                                <div>
		                                    <span class="btn btn-file btn-primary"><span class="fileupload-new">이미지등록</span><span class="fileupload-exists">수정</span><input type="file" name=""></span>
		                                    <a href="#" class="btn btn-danger fileupload-exists" data-dismiss="fileupload">삭제</a>
		                                </div>
		                            </div>
		                        </div>
		                        <div class="col-lg-3">
		                            <div class="fileupload fileupload-new" data-provides="fileupload"><input type="hidden" value="" name="">
		                                <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;">이미지 등록허셈</div>
		                                <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 10px;"></div>
		                                <div>
		                                    <span class="btn btn-file btn-primary"><span class="fileupload-new">이미지등록</span><span class="fileupload-exists">수정</span><input type="file" name=""></span>
		                                    <a href="#" class="btn btn-danger fileupload-exists" data-dismiss="fileupload">삭제</a>
		                                </div>
		                            </div>
		                        </div>
		                        <div class="col-lg-4">
		                            <div class="fileupload fileupload-new" data-provides="fileupload"><input type="hidden" value="" name="">
		                                <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;">이미지 등록허셈</div>
		                                <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 10px;"></div>
		                                <div>
		                                    <span class="btn btn-file btn-primary"><span class="fileupload-new">이미지등록</span><span class="fileupload-exists">수정</span><input type="file" name=""></span>
		                                    <a href="#" class="btn btn-danger fileupload-exists" data-dismiss="fileupload">삭제</a>
		                                </div>
		                            </div>
		                        </div>
		                   </div>
		                   <!--상품이미지 end-->

						<!-- 등록 -->
						<div class="form-group">
							<div class="col-md-4 col-md-offset-4">
								<a class="btn btn-primary btn-lg" onclick="">등록</a>
							</div>
						</div>
						<!-- 등록 end -->

						<!-- 등록 JS -->
						<script type="text/javascript"></script>
						<!-- 등록 JS end -->
					</fieldset>
				</form>
			</div>
		</div>
	</div>
</div>