/*
*common
*/
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
position: relative;
min-height: 1px;
padding-left: 0 !important; 
padding-right: 0 !important; 
}
.row {
margin-left: 0 !important;
margin-right: 0 !important;
margin-bottom:3px;
}

.horizon_array_menu_v{

}
.horizon_array_menu_v>ul{
	display:table;
}
.horizon_array_menu_v>ul>li{
	display:table-cell;
}
@media (max-width: 768px){ 
	.horizon_array_menu_V{
	float:left;
}
	.horizon_array_menu_v>ul{
	display:table;
}
	.horizon_array_menu_v>ul>li{
	display:table-row;
	}
}

.horizon_array_menu_h{

}
.horizon_array_menu_h>ul{
	display:table;
}
.horizon_array_menu_h>ul>li{
	display:table-cell;
}

.vertical_array_menu{

}
.vertical_array_menu>ul{
	display: table;
}
.vertical_array_menu>ul>li{
	display: table-row;	
}

.common_select_btn_100px>select{
	width: 100px;
}
.common_select_btn_150px>select{
	width: 150px;
}
.common_select_btn_200px>select{
	width: 200px;
}
.common_select_btn_100per>select{
	width: 100%;
}
.content_re{
	position: relative;	
	width: 100%;
	margin: 0 auto;
	box-sizing: border-box;
	clear:both;
}

.content_ab{
    position:absolute; 
	width:100%; 
	top:50px; 
	bottom:0; 
	left:0; 
	right:0;
	overflow:hidden; 
	box-sizing:border-box; 
	clear:both;
}

.left_wrap,.right_wrap{
	width: 100%;
	padding: 2px;
}
.left_wrap_fi,.right_wrap_fi{
	position: fixed;	
	top:50px;
	width: 100%;
	height: 100%;
	padding: 2px;
}
.left_wrap_ab, .right_wrap_ab{
	height: 100%;
	width: 50%;
	overflow-y: scroll;
	padding: 2px;
}
.comment_menu{
	list-style: none;
	float:right;
}
.comment_menu>ul>li>a{
	color:#FFF !important;
	margin-left:10px;
	cursor: pointer;
}
.info_text{
	position: absolute;
	bottom: 0;
}

.custom_brand{
	line-height: 40px !important;
	font-size: 40px !important;
}
.login_btn{
	float: right;
	margin: 8px;	
}
.custom_container{
	width: 600px !important;
	margin-top: 100px;
	padding-top:100px; 
}
.dropdown-friend{
	overflow-y: scroll;
	width: 250px;
	height: 400px;
}

.dropdown-friend a[data-method="delete"]{
	display: none;
}

.logo h1 {
  color: #000000;
  font-size: 35px;
}



@media (max-width: 767px){
  .logo h1 {
    font-size: 25px;
  }
}

.form-group{
	padding: 25px !important;
}