<div class="content_ab">
	<!--블로그 뷰 김수겸 14.09.18-->
	<div class="blog_left_wrap">
		<!--profile 김수겸 14.09.18-->
		<div class="row">
			<div class="col-lg-12">
				<div class="profile_wrap">
					<a href="" class="profile">
					 <%= image_tag "sample.PNG", size: "280x280" %>
					 </a>
				      <div class="caption">			        
				        <p>mc옆길로새</p>
				        <p>mc옆길로새</p>
						<p>mc옆길로새</p>
						<p>mc옆길로새</p>
				        <div class="profile_btn">
				        <p><a href="#" class="btn btn-default btn-line">친구추가</a> <a href="#" class="btn btn-default btn-line">즐겨찾기</a></p>
				        </div>
				      </div>
				 </div>
		    </div>
	    </div>
		<!--profile end-->

		<!--blog_map js 김수겸 14.09.16-->
		<script>
		$(function() {
		    var state = true;
		    $( "#spread_btn" ).click(function() {
		      if ( state ) {
		        $( "#map_div" ).animate({
		         height: 300,
		         width:100%
		          }, 500 );
		      } else {
		        $( "#map_div" ).animate({
		          height: 200,
		          width:100%
		        }, 500 );
		      }
		      state = !state;
		    });
		  });
		</script>
		<!--blog_map js end-->

		<!--blog_map 김수겸 14.09.18-->
		<div class="row">
			<div class="col-lg-12">
				<div id="map_div" class="blog_map">
			         <span class="spread_btn"><i id="spread_btn"class="fa fa-plus-square-o"></i></span>
				</div>
			</div>
		</div>
		<!--blog_map end-->

		<!--blog_category 김수겸 14.09.18-->
		<div class="row">
			<div class="col-lg-12">
				<div class="blog_category">
					<ul class="list-group">
						<li class="list-group-item btn btn-default">내일상<i class="fa fa-chevron-left" style="float:right; margin-top:7px;"></i></li>
						<li class="list-group-item btn btn-default">요리<i class="fa fa-chevron-left" style="float:right; margin-top:7px;"></i></li>
						<li class="list-group-item btn btn-default">맛집<i class="fa fa-chevron-left" style="float:right; margin-top:7px;"></i></li>
						<li class="list-group-item btn btn-default">여행<i class="fa fa-chevron-left" style="float:right; margin-top:7px;"></i></li>
						<li class="list-group-item btn btn-default">쇼핑<i class="fa fa-chevron-left" style="float:right; margin-top:7px;"></i></li>
					</ul>
				</div>
			</div>
		</div>
		<!--blog_category end-->			
	</div>

	<!--블로그 content 김수겸 14.09.18-->
	<div class="blog_right_wrap">
		<div class="blog_top">
			<span style="float:right;"><a href="home/blog_list" class="btn btn-default">목록</a></span>
		</div>
		<div class="well">
			<span><strong>슬랙스 면바지 후기!_!</strong></span>
			<span><a href="">쇼핑</a></span>
			<div class="blog_date">
				<span>2014/09/18 18:00</span>				
			</div>
			<hr>
			<div class="blog_content">
				
			</div>
		</div>
		<div class="blog_footer">
			<span><a href="#wrap" class="btn btn-default">맨위로<i class="fa fa-angle-double-up"></i></a></span>
			<span style="float:right;"><a href="home/blog_list" class="btn btn-default">목록</a></span>
		</div>
	</div>
	<!--블로그 뷰 end-->
</div>
<%= render 'comment_wrap' %>